#### 1. upsampling
#### 2. downsampling

In [1]:
import numpy as np
import pandas as pd

np.random.seed(123)

#Create dataframe
n_sample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_sample * class_0_ratio)
n_class_1 = n_sample - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [3]:
# create dataframe

# Create DataFrame for Class 0
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

# Create DataFrame for Class 1
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [4]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [5]:
df.target.value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [6]:
# upsampling

### SMOTE(synthetic Minority Over sampling Technique)

In [7]:
from sklearn.datasets import make_classification

In [ ]:
make_classification(n_samples=1000, n_features=2, n_clusters_per_class=1, weights)